*{
    margin: 0px;
    padding: 0px; 
} 
/**/
body{
    background-image: url('images/myBackground.jpg');
    background-repeat: no-repeat; 
    background-size: cover;
}

nav{
background-color: rgb(1, 1, 19);
    text-align: center; 
    padding: 20px;  
    display: flex;
    justify-content: flex-end;
}

nav li {
    display: inline;  
    padding: 20px;
  }

nav a{
      color: #fff;
  }

  nav a:hover{
      color: rgb(0, 195, 255);
  }

#about h2{
    color: rgb(86, 204, 240);
    text-align: center;
    padding: 50px; 
}

.my-text {
   color: #fff;
   display: flex;
    padding: 30px;
    font-size: large;
}

.my-img {
    border: solid black 1px;
    margin: 10px;
    width: 200px;
    height: auto;
    display: inline;
}

/**/
#mywork {
    width: 800px;
    margin: 180px auto;
    text-align: center;
    padding: 10px;
    border: solid;
    background-color: hsl(0, 0%, 100%);
}

#mywork h2{
    color: rgb(78, 139, 230);
}

#mywork h3{
    color: #db8fa8;
    padding: 10px
}

#contact {
    background-color: rgb(1, 1, 12);
    height:100px;
    color: #fff;
}

/* header {
    display: none; */
/* } */

/* #light{
display: block;
margin-right: auto;
margin-left: auto;
padding-top: 100px;
} */

/* #btn1,#btn2{
   margin-left: 350px;
   display: block;
   margin-top: 2px;
} */
