*{
    margin: 0px;
    padding: 0px; 
} 

/*Main body part*/
body{
    background-image: url('images/myBackground.jpg');
    background-repeat: no-repeat; 
    background-size: cover;
}

/*navbar section*/
nav{
    background-color: rgb(1, 1, 19);
    text-align: center; 
    padding: 20px;  
    display: flex;
    justify-content: flex-end;
}

nav li {
    display: inline;  
    padding: 20px;
  }

nav a{
      color: #fff;
  }

  nav a:hover {
      color: rgb(0, 195, 255);
  }

/*About Me section*/
#about h2 {
    color: rgb(86, 204, 240);
    text-align: center;
    padding: 50px; 
}

.my-text {
   color: #fff;
    padding: 30px;
    font-size: 20px;
    display: flex;
}

.my-img {
    border: solid black 1px;
    margin: 10px;
    width: 200px;
    height: auto;
}

/*My work section*/
#mywork {
    width: 800px;
    margin: 180px auto;
    text-align: center;
    padding: 10px;
    border: solid;
    background-color: hsl(0, 0%, 100%);
}

#mywork h2 {
    color: rgb(77, 142, 240);
}

#mywork h3 {
    color: #db8fa8;
    padding: 10px
}

#toggle {
    color: rgb(238, 228, 228);
    background-color: rgb(10, 1, 1);
    width: 50px;
    height: 30px;
    cursor: pointer;
}

/*Footer section*/
#contact {
    background-color: rgb(1, 1, 12);
    height:100px;
    color: #fff;
}

/* header {
    display: none; */
/* } */

/* #light{
display: block;
margin-right: auto;
margin-left: auto;
padding-top: 100px;
} */

/* #btn1,#btn2{
   margin-left: 350px;
   display: block;
   margin-top: 2px;
} */
